.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
