.wrapper {
  width: 100%;
}

.title {
  padding-left: 1rem;
  color: var(--text-primary);
  user-select: none;
  width: 100%;
}

.actionButton:hover {
  background-color: var(--bg-tertiary-hover);
}

.icon {
  width: 20px;
  height: 20px;
}

.editContainer {
  width: 100%;
}

.message {
  font-size: 0.875rem;
  margin-top: 4px;
  padding-left: 4px;
}

.error {
  color: var(--color-danger);
}

.helper {
  color: var(--accent-primary);
}
